*.txt
bulletin-beautifier/grammar/*
!bulletin-beautifier/grammar/RegCondition.g4
!bulletin-beautifier/grammar/parse.sh
!bulletin-beautifier/grammar/count_err.sh
bulletin-beautifier/csv/*
!bulletin-beautifier/csv/reg-condition.csv
!ast
bulletin-beautifier/grammar/ast/RegCondition*

node_modules
package-lock.json
yarn.lock

correctness-testing/temp